@model IEnumerable<Pizzeria.Models.Ingredient>
@{
    ViewBag.Title = "ingredientsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ingredientsList</h2>

<ul>
   @foreach (var ingredient in Model)
   {
    <li>
        <ul class="name">
            @ingredient.Name
        </ul>
        <ul class="price">
            @ingredient.Price$
        </ul>
        <a href="@Url.Action("EditIngredient", "Ingredients", new { id = ingredient.Id })">
            Edit
        </a> 
        <a href="@Url.Action("RemoveIngredient", "Ingredients", new { id = ingredient.Id })">
            Remove
        </a>
    </li>
   }
</ul>